body {
  margin: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../images/food_background.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

h1 {
  text-align: center;
  font-family: cursive;
  font-size: 4rem;
  color: #f4f4f4;
}

ul {
  max-width: 250px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

li {
  padding-top: 1.5rem;
}

a {
  text-decoration: none;
  font-size: 1.8rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #cdcdcd;
}

a:hover {
  color: #f4f4f4;
}

i {
  margin-right: 1rem;
  font-size: 1.4rem;
  color: steelblue;
}

/******************************** media-queries *************************/
@media (max-width: 600px) {
  h1 {
    font-size: 3rem;
  }
}
